.trackListButton {
  composes: u-buttonReset from '../../../index.module.css';
  padding: 6px;
  transition: all 0.1s ease-in-out;
  opacity: 0.6;
}

.trackListButton svg {
  width: 14px;
  height: auto;
}

.trackListButton:hover {
  opacity: 1;
}

.isActive {
  opacity: 1;
}

.isActive svg path {
  fill: #9bd770;
}
