.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.controlsInner {
  display: flex;
  align-items: center;
  width: 160px;
}

.muteButton {
  composes: u-buttonReset from '../../index.module.css';
  padding: 6px;
  transition: all 0.1s ease-in-out;
  opacity: 0.6;
  margin-right: 12px;
}

.muteButton svg {
  width: auto;
  height: 16px;
}

.muteButton:hover {
  opacity: 1;
}

.volume {
  
}

.fullscreenButton {
  composes: u-buttonReset from '../../index.module.css';
  padding: 6px;
  opacity: 0.6;
  transition: all 0.1s ease-in-out;
  width: 24px;
  margin-left: 12px;
}

.fullscreenButton svg {
  width: 16px;
  height: auto;
}

.fullscreenButton:hover {
  opacity: 1;
}
