.transport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transportButton {
  transition: all 0.1s ease-in-out;
  opacity: 0.6;
}

.transportButton:hover {
  opacity: 1;
}
