.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #222;
  padding: 18px;
  opacity: 1;
  z-index: 1;
  transition: all 0.2s linear;
}

.fullscreen {
  opacity: 0;
}

.fullscreen:hover {
  opacity: 1;
}
