.muteButton {
  composes: u-buttonReset from '../../../../App.module.css';
  padding: 6px;
  transition: all 0.1s ease-in-out;
  opacity: 0.6;
}

.muteButton svg {
  width: auto;
  height: 16px;
}

.muteButton:hover {
  opacity: 1;
}
